#id{background-color: cadetblue;}

.class{background-color: darkgoldenrod;border: black;}

ul{list-style-type: none;}



/*行级元素 块级元素 行内块*/
/*把块级元素 转化成行内块*/

/*display inline-block*/


/*************************************page1*/


.header{background-color: #1299FF; width: auto;height: 60px; font-size: 30px;}